# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/

# Virtual environments
.venv/
Env_TG/

# Sphinx / docs build outputs
docs/_build/

# Keep folder but ignore external content by default
external_files/*
!external_files/README.md
!external_files/parameters_CoOx12.json
